.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(100%);
    transition: all 1.5s;
}

/* MAIN PANELS */

.lPanel {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s;
}

.rPanel {
    opacity: 0;
    transform: translateX(100%);
    transition: all 1s;
}

/* JOBS */

.jobPane {
    opacity: 0;
    transform: translateY(100%);
    transition: all 2s;
}

.jobPane:nth-child(2) {
    transition-delay: 200ms;
}


/* SOCIAL */

.socialImgs {
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.socialImgs:nth-child(2) {
    transition-delay: 100ms;
}

.socialImgs:nth-child(3) {
    transition-delay: 200ms;
}

.socialImgs:nth-child(4) {
    transition-delay: 300ms;
}

.socialImgs:nth-child(5) {
    transition-delay: 400ms;
}

.socialImgs:nth-child(6) {
    transition-delay: 500ms;
}

.show {
    opacity:1;
    filter: blur(0);
    transform: translateY(0%) translateX(0%) rotate(0deg);
}