/* *********************** */
/* *** FONTS AND STYLE *** */
/* *********************** */
h1, h2{
    font-style:italic;
}

body {
    font-family: "DM Sans";
    font-size: 1.25rem;
    /*text-shadow: 0.05rem 0.05rem 0.5rem #747474;*/
}

/* ************************ */
/* *** SIZES AND SPACES *** */
/* ************************ */
:root {
    overflow-y: hidden;
}

#gridMainPanel {
    background-color: var(--site2ndColor);
    padding: 0.5rem 1rem; /*up / left*/   
}

.imgIcon {
    width: 100%;
}


/* *********************************** */
/* *** POSITIONS, MARGINS, BORDERS *** */
/* *********************************** */
.navbar {
    height: 3.5rem;
}

.navbar-brand {
    margin-left: 1rem;
    font-style: bold;
}

.navbar-toggler {
    float: inline-end;
    border: none;
}

#mainPanel {
    padding: 5rem 1rem;
}

/* ************** */
/* *** COLORS *** */
/* ************** */
:root{
    --siteMainColor: #f0e68c; /*#574cf1;*/
    --site2ndColor: #bdb76b; /*#81a4e4;*/
    
}
.siteMainColor {
    background-color:var(--siteMainColor);
}

.site2ndColor {
    background-color:var(--site2ndColor);
}
