/* ************** */
/* *** GFonts *** */
/* ************** */

@import url('https://fonts.googleapis.com/css2?family=Antic+Didone&family=Josefin+Sans:wght@200;300;400;500;600&family=Montserrat:wght@300;400;500&display=swap');

/*
- LANDING - Antic+Didone 
- BODY - Montserrat
- H2 - Josefin Sans
- H3 - Josefin Sans
*/

.landingTitle {
    font-family: "Antic Didone"!important;
    font-size: 5.5rem!important;
    font-weight: 100!important;
    /*color: var(--siteMainColor);*/
    text-shadow: 0rem 0rem 1rem black;
}

subtitle {
    font-family: "Josefin Sans"!important;
    font-weight: 400!important;
    font-size: 1.30rem!important;
    color: var(--siteMainColor);
}

h2 {
    font-family: "Josefin Sans"!important;
    font-weight: 500!important;
    font-size: 2.5rem!important;
    color: var(--siteMainColor);
}

h3 {
    font-family: "Josefin Sans"!important;
    font-weight: 600!important;
    color: var(--siteMainColor)
}

body {
    font-family: "Montserrat"!important;
    font-size: 1.0rem!important;
    overflow-x: hidden; 
    /*text-shadow: 0.05rem 0.05rem 0.5rem #747474;*/
}

/* ************** */
/* *** NAVBAR *** */
/* ************** */

.navbar-collapse {
    background: var(--siteMainColor);
}

.navbar {
    height: 3.5rem;
}

.navbar-brand {
    margin-left: 1rem;
    font-style: bold;
}

.navbar-toggler {
    float: inline-end;
    border: none;
}

/* ************ */
/* *** BODY *** */
/* ************ */
:root {
    /*overflow-y: hidden;*/
    --siteMainColor: #F25E3D; /*#574cf1;*/
    --site2ndColor: #F2AD85; /*#81a4e4;*/
    --site3rdColor: #D9B5A0; /*https://colorhunt.co/palette/e97777ff9f9ffcddb0fffad7 */
    --site4thColor: #F28444;
    --site5thColor: #dea07b;
    --bs-link-color: rgb(173, 0, 0)!important;
}

.siteMainColor {
    background-color:var(--siteMainColor);
}

.site2ndColor {
    background-color:var(--site2ndColor);
}

.imgIcon {
    width: 100%;
}

img {
    width: 100%;
}

#landingPanel {
    text-shadow: 0px 0px 10px #000000;
}

.dark-theme {
    background-color: darkslategray!important;
    color: beige!important;
}

#landingPanel {
    height: 100vh;
    background-image: url('../include/img/photoCarousel/portfolio.jpg');
    background-position: center;
    /* flex-box thing */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover; 
    color:white;
    text-align: center;
}

#titlePanel {
    padding-top: 2rem;
}

.mainPanel {
    padding-bottom: 2rem;
}

#secondaryPanel {
    padding-top: 2rem;
}

.secondaryBK {
    background-color: var(--site5thColor);
}

#gridMainPanel {
    background-color: var(--site2ndColor);
}

@media (min-width: 576px)  {
    .lPanel {
        padding-right: 0.5rem;
    }

    .rPanel {
        padding-left: 0.5rem;
    }
}

.lPanel {
    word-wrap: break-word;
    text-align: left;
}

.cPanel {
    word-wrap: break-word;
    text-align: center;
}

.rPanel {
    word-wrap: break-word;
    text-align: right;
}

#textPanel {
    padding-top: 2.25rem;
}

#careerTxt {
    font-size: 1rem;
}

p {
    text-align: justify;
}

.gradLightToDark {
    background-image: linear-gradient(var(--site2ndColor), var(--site5thColor));
    height: 3rem;
}

.gradDarkToLight {
    background-image: linear-gradient(var(--site5thColor), var(--site2ndColor));
    height: 3rem;
}

#socialImgs {
    margin-top: auto;
    margin-bottom: auto;
    max-width: 3rem;
}

#socialPanel {
    max-width: 900px;
}

.socialGridOpts {
    text-align: center;
    padding: 4rem 3rem 0rem 3rem; /*top right bottom left */
    padding-left: min(2px);
    padding-right: min(2px);
}

.socialGridOpts img {
    width:3rem;
    min-width: 35px;
}

footer {
    padding: 1.5rem;
    background-color: var(--siteMainColor);
    font-size: 0.75rem;
    font-weight: 500!important;
}
