/* ************** */
/* *** NAVBAR *** */
/* ************** */

.navbar-collapse {
    background: var(--siteMainColor);
}

.navbar {
    height: 3.5rem;
}

.navbar-brand {
    margin-left: 1rem;
    font-style: bold;
}

.navbar-toggler {
    float: inline-end;
    border: none;
}


/* ************ */
/* *** BODY *** */
/* ************ */
:root {
    /*overflow-y: hidden;*/
    --siteMainColor: #f0e68c; /*#574cf1;*/
    --site2ndColor: #bdb76b; /*#81a4e4;*/
}

.siteMainColor {
    background-color:var(--siteMainColor);
}

.site2ndColor {
    background-color:var(--site2ndColor);
}

.imgIcon {
    width: 100%;
}

img {
    width: 100%;
}

h1, h2{
    font-family: "Bebas Neue";
}

body {
    font-family: "DM Sans";
    font-size: 1.15rem;
    /*text-shadow: 0.05rem 0.05rem 0.5rem #747474;*/
}

#mainPanel {
    padding-top: 4rem;
}

#secondaryPanel {
    padding-top: 2rem;
}

#gridMainPanel {
    background-color: var(--site2ndColor);
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-bottom: 5rem;
}

.lPanel {
    padding-right: 1rem;
    word-wrap: break-word;
}

.rPanel {
    word-wrap: break-word;
}

#textPanel {
    padding-top: 2.25rem;
}

#imgPanel {
}

footer {
    padding: 1.5rem;
    background-color: var(--siteMainColor);
    font-size: 0.75rem;
}
